
  <footer>
    <h4>To create or navigate to a specific list by adding "/<em>list</em>" to the end of the URL, the value <em>list</em> is whatever you would like call it.</h4>
    © 2022 Brianna Bland
  </footer>


</body>

</html>